main{
    margin: auto;
    max-width: 800px;
    opacity: 0;
    transition: all 1s ease;
}

main section.intro{
    padding-bottom: 30px;
}

main section.intro h3{
    color: #e8eaea;
    font-weight: 400;
    margin: 0;
    font-size: 70px;
}

main section.intro p{
    font-size: 18px;
    color: #c4c4c4;
    opacity: 0.8;
}

footer div img{
    user-select: none;
    max-width: 800px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 65%;
    transform: translate(0);
    opacity: 1;
    z-index: -1;
    transition: all 2s ease;
}

footer div .circle{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c4c4c4;
    opacity: 0.3;
    position: fixed;
    transform: translateY(0);
    top: 60%;
    right: 75%;
    z-index: -1;
    transition: all 2s ease;
}

@media screen and (max-width: 1200px){
        nav, main, footer, a{
        display: none;
    }

    div.smallScreen{
        user-select: none;
        display: block;
        padding: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }

    div.smallScreen img.screens{
        width: 200px;
        margin: 20% 0;
        margin-bottom: 32px;
    }

    div.smallScreen div.details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    div.smallScreen span.h2{
        font-size: 26px;
        font-weight: 600;

    }

    div.smallScreen p.detail{
        font-size: 18px;
        font-weight: 500;
        color: #585858;
    }
}