main{
    margin: auto;
    max-width: 800px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(-100px);
}

main section.intro{
    padding: 20px;
    transform: translateX(-100px);
}

main section.intro .background{
    width: 700px;
    height: auto;
    padding: 100px;
    background-color: #0c0e188e;
    border-radius: 100%;
}

main section.intro h3{
    color: #c4c4c4;
    font-weight: 400;
    margin: 0;
    font-size: 70px;
}

main section.intro h1{
    color: #e8eaea;
    padding-left: 35px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 80px;
}

main section.intro p{
    font-size: 18px;
    color: #c4c4c4;
    opacity: 0.8;
}

main section.intro .intro-buttons{
    margin-top: 30px;
    user-select: none;
}


@media screen and (max-width: 1000px){
    main{
        max-width: auto;
    }
    
    main section.intro{
        padding: 20px;
        transform: translateX(-100px);
    }
    
    main section.intro h3{
        font-size: 50px;
    }
    
    main section.intro h1{
        font-size: 60px;
    }

    footer div img{
        max-width: 600px;
    }
    
    footer div .circle{
        width: 600px;
        height: 600px;
    }
}

@media screen and (max-width: 900px){
    main{
        margin: auto;
        width: 100%;
    }
    
    main section.intro{
        text-align: center;
        width: 90%;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0);
        transform: translateY(50px);
    }
    
    main section.intro .background{
        margin: 0;
        width: 600px;
        height: auto;
        padding: 100px;
        border-radius: 100%;
    }
    
    main section.intro h3{
        font-size: 40px;
    }
    
    main section.intro h1{
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 50px;
    }

    footer div img{
        max-width: 500px;
    }
    
    footer div .circle{
        width: 600px;
        height: 600px;
    }
}

@media screen and (max-width: 600px){
    main section.intro .background{
        padding: 50px;
    }

    main section.intro h3{
        font-size: 30px;
    }
    
    main section.intro h1{
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 40px;
    }

    main section.intro p{
        font-size: 17px;
        color: #c4c4c4;
        opacity: 0.8;
        margin-bottom: 0;
    }

    .ssImgAnim{
        transform: translateX(-500px);
    }
}

@media screen and (max-width: 450px){

    main section.intro{
        width: 98%;
    }
    main section.intro .background{
        padding: 30px;
    }

    main section.intro h3{
        font-size: 20PX;
    }
    
    main section.intro h1{
        font-size: 30px;
    }

    main section.intro p{
        font-size: 16px;
    }

    main section.intro .intro-buttons{
        margin-bottom: 30px;
    }
}