*{
    transition: all 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: #e8eaea;
    background-color: #0c0e18;
    font-family: 'Poppins', Arial, sans-serif;
}

div.smallScreen{
    display: none;
}

nav{
    user-select: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.profile-icon{
    display: inline-block;
}

.profile-icon img{
    max-width: 80px;
    cursor: pointer;
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
}

.profile-icon img#userIcon-1{
    background-color: #c4c4c4;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
}

.profile-icon img#userIcon-1:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
}

.profile-icon img#userIcon-2{
    width: 70px;
    opacity: 1;
    z-index: -1;
    position: absolute;
    transform: translate(-75px, 7px);
}

.profile-icon img:active{
    transform: scale(0.95);
}

.profile-icon span.name{
    user-select: none;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    transform: translate(-60px, 28.5px);
    z-index: -1;
}

.pages{
    display: inline-block;
}

.pages ul{
    padding: 0;
}

.pages ul li{
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.pages ul li a{
    text-decoration: none;
    color: #e8eaea;
    font-size: 18px;
    font-weight: 500;
}

.pages ul li a div.underline{
    background-color: #e8eaea;
    width: auto;
    height: 3px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-10px);
}

.pages ul li a:hover div.underline{
    opacity: 1;
    transform: translateY(0px);
}

.pages ul li a:active div.underline{
    transform: translateY(-2px);
}

.nav-buttons{
    display: inline-block;
}

.nav-buttons a{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 18px;
    margin: 5px;
}

.nav-buttons a.my-resume{
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

.nav-buttons a.my-resume:hover{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

.nav-buttons a.resume{
    display: none;
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

.nav-buttons a.resume:hover{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

.nav-buttons a:last-child{
    background-color: #e8eaea;
    color: black;
}

.nav-buttons a.contact-me{
    display: none;
    background-color: #e8eaea;
    color: black;
}

.nav-buttons a:last-child:hover{
    background-color: #e8eaeabd;
}

.sidebar{
    display: flex;
    position: absolute;
    justify-content: left;
    padding-left: 0;
    user-select: none;
    transform: translateX(-90px);
    opacity: 0;
}

.sidebar .social-media-icons{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar .social-media-icons li{
    padding: 20px;
    padding-top: 0;
}

.sidebar .social-media-icons li a{
    text-decoration: none;
}

.sidebar .social-media-icons li a i{
    color: #e8eaea;
    font-size: 32px;
}

.sidebar .social-media-icons li:hover{
    transform: scale(1.1) translate(2px, -4px);
}

footer div img{
    user-select: none;
    max-width: 800px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 65%;
    transform: translateX(300px);
    opacity: 0;
    z-index: -1;
    transition: all 2s ease;
}

footer div .circle{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c4c4c4;
    opacity: 0.3;
    position: fixed;
    transform: translateY(800px);
    top: 60%;
    right: 75%;
    z-index: -1;
    transition: all 2s ease;
}


@media screen and (max-width: 350px){
    .nav-buttons a{
        font-size: 15.5px;
    }
}

@media screen and (max-width: 500px){
    nav .nav-buttons{
        display: grid;
    }
}

@media screen and (max-width: 1150px){
    nav{
        padding: 15px;
    }

    .profile-icon img#userIcon-1{
        width: 55px;
    }

    .pages{
        display: none;
    }

    .sidebar{
        z-index: 1;
        transform: translateX(-70px);
    }

    .sidebar .social-media-icons li{
        padding: 15px;
        padding-top: 0;
    }

    .sidebar .social-media-icons li a i{
        color: #e8eaea;
        font-size: 26px;
    }
}

@media screen and (max-width: 1200px) {
    .nav-buttons a:last-child{
        display: none;
    }

    .nav-buttons a.contact-me{
        display: inline-block;
    }

    .nav-buttons a.my-resume{
        display: none;
    }

    .nav-buttons a.resume{
        display: inline-block;
}
}

@media screen and (max-width: 1400px){
        .profile-icon img#userIcon-2{
        display: none;
    }
}

@media screen and (max-width: 1850px){
    .profile-icon span.name{
        display: none;
    }
}