*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: #e8eaea;
    background-color: #0c0e18;
    text-align: center;
}

header{
    text-align: center;
    margin: auto;
    justify-content: center;
}

section{
    text-align: center;
    margin: auto;
    justify-content: center;
}

nav{
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}

nav div.site-icon div.shape{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #c4c4c4;
    opacity: 0.3;
    position: fixed;
    top: -250px;
    right: 50%;
    z-index: -1;
    transition: all 2s ease;
}

nav div.sections-buttons{
    display: flex;
    align-items: center;
    justify-content: right;
}

nav div.sections-buttons ul{
    padding: 0;
}

nav div.sections-buttons ul li{
    list-style: none;
    padding: 0 20px;
    margin-bottom: 30px;
}

nav div.sections-buttons ul li a{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    color: #e8eaea;
    border: none;
    border-radius: 18px;
}

nav div.sections-buttons ul li a.beta{
    user-select: none;
    cursor: default;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

nav div.sections-buttons ul li a:hover{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

nav div.sections-buttons ul li a.beta:hover{
    background-color: transparent;
    cursor: default;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

header{
    max-width: 700px;
    margin-bottom: 80px;
}

header h2{
    font-size: 30px;
    font-weight: 400;
}

main section.contact-form{
    width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    background-color: transparent;
    width: 100%;
    padding: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    font-size: 16px;
    color: #e8eaea;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #e8eaea;
    outline: none;
}

.form-buttons {
    display: flex;
    justify-content: right;
    width: 100%;
}

.form-buttons input{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin: 5px;
}

input.submit{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

input.submit:hover {
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

input.clear {
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

input.clear:hover{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

main section div{
    margin-bottom: 80px;
}

main section.our-community ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

main section.our-community ul li a{
    color: #c4c4c4;
    text-decoration: none;
}

main section.our-community ul li a:hover{
    color: #e8eaea;
    text-decoration: underline;
}


@media screen and (max-width: 1023px){
    
}