*{
    transition: all 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: #e8eaea;
    background-color: #0c0e18;
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    padding: 8px;
}

header{
    text-align: center;
    margin: auto;
    justify-content: center;
}

section{
    text-align: center;
    margin: auto;
    justify-content: center;
}

nav{
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}

nav div.site-icon img#siteIcon{
    width: 170px;
}

nav div.site-icon div.shape{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #c4c4c4;
    opacity: 0.3;
    position: fixed;
    top: -250px;
    right: 50%;
    z-index: -1;
    transition: all 2s ease;
}

nav div.sections-buttons{
    display: flex;
    align-items: center;
    justify-content: right;
}

nav div.sections-buttons ul{
    padding: 0;
}

nav div.sections-buttons ul li{
    list-style: none;
    padding: 0 20px;
    margin-bottom: 30px;
}

nav div.sections-buttons ul li a{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: #e8eaea;
    border: none;
    border-radius: 18px;
}

nav div.sections-buttons ul li a.beta{
    user-select: none;
    cursor: default;
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

nav div.sections-buttons ul li a:hover{
    background-color: #e8eaea;
    color: black;
}

nav div.sections-buttons ul li a.beta:hover{
    background-color: transparent;
    cursor: default;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

header{
    max-width: 700px;
    margin-bottom: 80px;
}

header h2{
    font-size: 30px;
    font-weight: 400;
}

main section div{
    margin-bottom: 80px;
}

main section h2.title{
    font-size: 24px;
}

main section.our-community ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

main section.our-community ul li a{
    color: #c4c4c4;
    text-decoration: none;
}

main section.our-community ul li a span:last-child{
    opacity: 0;
    margin-left: -10px;
    
}

main section.our-community ul li a:hover span:last-child{
    opacity: 1;
    padding-left: 15px;
    text-decoration: none;
}

main section.our-community ul li a:hover{
    color: #e8eaea;
}

main section.contact-form{
    width: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    background-color: transparent;
    width: 300px;
    padding: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    font-size: 16px;
    color: #e8eaea;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #e8eaea;
    outline: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-buttons input{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin: 5px;
}

input.submit{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
    font-weight: 600;
}

input.submit:hover {
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

input.clear {
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
    font-weight: 600;
}

input.clear:hover{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

footer p.copyright{
    cursor: default;
}


@media screen and (max-width: 600px){
    nav div.site-icon img#siteIcon{
        width: 130px;
    }
    
    nav{
        padding: 20px 0;
    }

    nav div.sections-buttons ul li{
        padding: 0;
    }

    nav div.sections-buttons ul li a{
        font-size: 16px;
    }

    header{
        padding: 0 20px;
    }

    header h2{
        font-size: 22px;
    }

    main section.our-community{
        padding: 0 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 80%;
    }
}